<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <White>
    <Core>
      <add key="TooltipWaitTime" value="3000"/>
      <add key="DoubleClickInterval" value="10000"/>
    </Core>
  </White>
</configuration>